.candlesModalOverlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000000cc;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  transition: 0.2s;
  opacity: 1;

  animation-duration: 0.2s;
  animation-name: candlesModalOpacity;
}

.candlesModalOverlayClosing {
  opacity: 0;
}

.candlesModal {
  width: 100%;
  max-width: 375px;
  border-radius: 20px;
  background: #cdcdcd;
  padding: 68px 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.2s;
  position: relative;
  animation-duration: 0.2s;
  animation-name: candlesModalAppear;
}

.candlesModalOverlayClosing .candlesModal {
  transform: scale(0);
}

.candlesModalSuccessIcon {
  background-color: #d9d9d9;
  border: 2px solid #000;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}

.candlesModalSuccessIconPending:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #000000;
  border-color: #000000 transparent #000000 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.candlesModalTitle {
  color: #000;
  text-align: center;
  font-family: NeueMontreal;
  font-size: 24px;
  font-weight: 700;
  margin-top: 48px;
  margin-bottom: 35px;
}

.candlesModalBtn {
  width: 100%;
  margin-top: 21px;
  display: flex;
  padding: 19px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  border: 1px solid #000;
  background: #000;
  color: #fff;
  font-family: NeueMontreal;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  outline: 0;
  text-transform: uppercase;
  transition: 0.3s;
  text-decoration: none;
}
.candlesModalBtn:hover {
  opacity: 0.8;
  cursor: pointer;
}
.candlesModalBtn:active {
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: rgba(255, 255, 255, 0.2);
  color: #000;
}
.candlesModalBtn:disabled {
  background: #aeaeae;
  color: #e4e4e4;
  border: 1px solid #aeaeae;
  opacity: 1;
}

.candlesModalClose {
  position: absolute;
  right: 16px;
  top: 16px;
}

@keyframes candlesModalAppear {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

@keyframes candlesModalOpacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
