.constructorWrapper {
    width: 100%;
    min-height: 100dvh;
    position: relative;
    overflow: hidden;
}

.constructorWrapperCanvas {
    position: absolute !important;
    bottom: 0;
    height: calc(100dvh + 231px) !important;
}

.constructorPreviewWrapperCanvas {
    position: static !important;
    width: 100%;
    height: auto !important;
    aspect-ratio: 338 / 314;
}