.constructorWrapper {
    width: 100%;
    min-height: 100dvh;
    position: relative;
    overflow: hidden;
}

.constructorWrapperCanvas {
    position: absolute !important;
    bottom: 0;
    height: calc(100dvh + 231px) !important;
}

