.constructorWrapper {
    width: 100%;
    min-height: 100dvh;
    position: relative;
    overflow: hidden;
}

.constructorWrapperCanvas {
    position: absolute !important;
    bottom: 0;
    height: calc(100dvh + 231px) !important;
}

.constructorPreviewWrapperCanvasArea {
    position: relative !important;
    width: 100%;
    height: auto !important;
    aspect-ratio: 338 / 314;
}

.constructorPreviewWrapperConfetti {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.constructorPreviewWrapperCanvas {
    position: relative !important;
    width: 100%;
    height: auto !important;
    aspect-ratio: 338 / 314;
    z-index: 4;
}